// About section styles
.about-section {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    p{
        color: $text-color;
        margin-top: 2rem;

        @include tablet-up {
            margin-top: 0;
        }
    }
}
