// About section styles
.about-section {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .about-left{
        display: flex;
        flex-direction: column;
        gap: 1.5rem;

        @include desktop-up{
            width: 50%;
        }
    }

    .about-right{
        display: flex;
        flex-direction: column;
        gap: 1.5rem;

        @include desktop-up{
            width: 50%;
        }
    }

    p{
        color: $text-color;
        margin-top: 2rem;

        @include tablet-up {
            margin-top: 0;
        }
    }

    @include desktop-up {
        flex-direction: row;
        justify-content: space-between;
        gap: 2rem;
    }
}
