.contact-section{
    background: #111110;
    border-radius: 20px;
    color: white;
    padding: 3rem 1.5rem;

    .contact-container{
        display: flex;
        flex-direction: column;
        gap: 1.5rem;

        .subtitle,
        p{
            color: #f5f4f080;
        }

        h2{
            color: white;
        }

        .btn-orange{
            background: $orange-txt;
            color: white;
        }

        .contact-right{
            display: flex;
            flex-direction: column;
            align-items: center;

            .social-links{
                display: flex;
                justify-content: space-around;
                align-items: center;
                color: #f5f4f080;
                margin-top: 1.5rem;
                width: 100%;
                gap: 3rem;

                a{
                    &:hover{
                        color: white;
                    }
                }

                @include desktop-up {
                    gap: 2rem;
                }
            }
        }

        @include tablet-up {
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            gap: 2rem;

            .contact-left{
                width: 50%;
            }
        }
    }

    @include desktop-up {
        padding: 4rem 4rem;
    }
}