header {
    background-color: $primary-color;
    font-family: $font-submain;
    font-size: 16px;
    padding: 1rem 2rem;
    position: sticky;
    top: 0;
    z-index: 10;

    nav {
        display: flex;
        align-items: center;
        justify-content: space-between;

        h1 {
            font-size: 16px;
        }

        .burger-menu {
            font-size: 1.5rem;
            background: none;
            color: $text-color;
            cursor: pointer;
            transition: color 0.3s ease, transform 0.3s ease;

            @include hover-color;

            &:hover {
                transform: scale(1.1);
            }

            i {
                transition: transform 0.3s ease;
            }

            &.active i {
                transform: rotate(90deg);
            }

            @include tablet-up {
                display: none;
            }
        }

        .nav-links {
            display: flex;
            position: absolute;
            top: 4rem;
            left: 0;
            right: 0;
            background-color: $primary-color;
            flex-direction: column;
            gap: 1rem;
            padding: 2rem;
            border: 1px solid $border-color;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            z-index: 999;
            opacity: 0;
            visibility: hidden;
            transform: translateY(-20px);
            transition: $transition-menu;
            pointer-events: none;

            &.active {
                opacity: 1;
                visibility: visible;
                transform: translateY(0);
                pointer-events: auto;
            }

            li .a {
                color: $text-color;
                transition: $transition;

                @include hover-color;
            }

            .hide{
                display: none;

                @include tablet-up {
                    display: block;
                }
            }

            @include tablet-up {
                position: static;
                align-items: center;
                flex-direction: row;
                opacity: 1;
                visibility: visible;
                transform: translateY(0);
                pointer-events: auto;
                border: none;
                box-shadow: none;
                padding: 0;
                gap: 2rem;
            }
        }
    }

    @include tablet-up {
        padding: 1rem 4rem;
    }

    @include desktop-up {
        padding: 1rem 6rem;
        max-width: 1200px;
        margin: 0 auto;
    }
}

.scrolled {
    background-color: rgba(245, 244, 240, 0.8);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-bottom: 1px solid $border-color;
}
