// Colors
$background-color: #f4f4f4;
$border-color: #ddd;
$orange-txt: #ff4f1f;
$primary-color: #f5f4f0;
$text-color: #7a7870;

// Font families
$font-title: 'Bricolage Grotesque', sans-serif;
$font-main: 'Figtree', sans-serif;
$font-submain: 'JetBrains Mono', monospace;

// Animations
$transition: all 0.3s ease;
$transition-menu: opacity 0.4s ease, transform 0.4s ease, visibility 0.4s ease;

// Breakpoints
$tablet: 768px;
